* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px;
}

header > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  width: 35px;
  height: 35px;
}
header > h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

main {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
